{% extends "base.html" %}
{% block content %}
<!doctype html>
<html>
  <head>
    <title>Restore previous employee details </title>
  </head>
  <body>
    <br>
    <br>
    <h1>&emsp;Upload employee Record in CSV file</h1>
    <br>
    <br>
    <form method="POST" action="" enctype="multipart/form-data">
      <br>
      <p>&emsp;&emsp;&emsp;&emsp;<input type="file" name="file"></p>
      <br>
      <p>&emsp;&emsp;&emsp;&emsp;<input type="submit" value="Submit")"></p>
    </form>
  </body>
</html>
{% endblock %}
